<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de pago</title>
</head>
<body>
<h1>Registrar nuevo pago</h1>
<form th:action="@{/pagos/crear}" th:object="${pago}" method="post">
    <label>Contrato:</label>
    <select th:field="*{contrato}">
        <option th:each="contrato : ${contratos}" th:value="${contrato.id}"
                th:text="'Contrato #' + ${contrato.id}"></option>



    </select><br/>

    <label>Fecha prevista:</label>
    <input type="date" th:field="*{fechaPrevista}" /><br/>

    <label>Fecha real:</label>
    <input type="date" th:field="*{fechaReal}" /><br/>

    <label>Cantidad esperada:</label>
    <input type="number" th:field="*{cantidadEsperada}" /><br/>

    <label>Cantidad abonada:</label>
    <input type="number" th:field="*{cantidadAbonada}" /><br/>

    <label>Retraso (en días):</label>
    <input type="number" th:field="*{retraso}" /><br/>

    <label>Estado:</label>
    <select th:field="*{estado}">
        <option th:value="true">Pagado</option>
        <option th:value="false">Pendiente</option>
    </select><br/>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
